html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-image: url('./rowOfBooks.jpg');
  background-size: contain;
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 3.5vw;
  font-weight: bold;
  text-decoration: underline #25A994;
}

h2 {
  font-size: 2.2vw;
  font-weight: bold;
  text-decoration: underline #25A994;
  margin-bottom: 1vh;
}

p {
  font-size: 1.7vw;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: #25A994;
  font-size: 1.3vw;
}

li {
  list-style-type: none;
}

form{
  display: flex;
  flex-direction: column;
}

button {
  background-color: #25A994;
  color: #EEEEEE;
  border: none;
  height: 5vh;
  width: 12vw;
  border-radius: 1.5vh;
  font-size: 1.2vw;
}

button:hover {
  background-color: #EEEEEE;
  color: #25A994;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
}

.book-lists {
  display: flex;
  justify-content: center;
  justify-content: center;
  padding-top: 2vh;
}

.books-to-read-sec {
  border-left: solid thin #25A994;
  border-right: solid thin #25A994;
  padding: 3vh 2vw;
}

.book-list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  margin-bottom: 4vh;
}

.add-book-form {
  padding: 4vh 4vw;
  margin-top: 2vh;
  border: solid thin #25A994;
}

.add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
}

.books-list {
  display: flex;
  flex-direction: column;
}

.books-list-name {
  display: flex;
}

.recommend-selection {
  display: flex;
  justify-content: center;
}

.book-update-fields {
  display: flex;
  flex-direction: column;
  padding: 4vh 4vw;
  border: solid thin #25A994;
}

.add-book-button {
  width: 12vw;
  height: 3.8vh;
  font-size: 1.6vw;
}

.edit-book-buttons-section {
  width: 26vw;
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
}
